$odd-info-section-bg: $gray;
$even-info-section-bg: $pink;

.services-section {

    .services-section-content {


        .services-section-info {

            padding: 16.2rem 8.3rem 16.2rem 7.1rem;
            flex: 0 0 100%;

            @media(min-width:992px) {
                padding: 6rem 4rem 6rem 3rem;
                flex: 0 0 50%;
            }

            @media(min-width:1200px) {
                padding: 16.2rem 8.3rem 16.2rem 7.1rem;

            }

            &.odd {
                background-color: $odd-info-section-bg;
            }

            &.even {
                background-color: $even-info-section-bg;
            }

            .services-section-title {
                margin-bottom: 4.2rem;
            }

        }

        .services-section-photo {
            flex: 0 0 100%;

            @media(min-width:992px) {
                flex: 0 0 50%;
            }

            img {
                height: 100%;
                width: 100%;
                display: block;
            }
        }


    }





}