header.single-services {
    margin-bottom: 4.9rem;
}

.services-description-section {
    margin-bottom: 15.9rem;

    .services-description-photo {
        position: sticky;
        -webkit-position: sticky;
        top: 0;
        img{
            width: 100%;
            display: block;
        }
    }

    .services-description-text {
        font-size: 1.8rem;
        .services-description-title {
            margin-bottom: 4.6rem;
        }
    }
}