$tag-title-font: $playfair;
$tag-item-bg: #F5F5F5;
.blog-description-section {
    margin-bottom: 10.4rem;

    .blog-description-photo {
        position: sticky;
        -webkit-position: sticky;
        top: 0;
        img{
            width: 100%;
            display: block;
        }
    }

    .blog-description-text {
        font-size: 1.8rem;
        .services-description-title {
            margin-bottom: 4.6rem;
        }

        .category-date{
            font-size: 1.4rem;
            line-height: 4.6rem;
            span{
                padding-right: 1.2rem;
            }
            .blog-category{
                font-family: $playfair;
                font-weight: 700;

            }
        }
    }
}

.blog-text-section{
    margin-bottom: 15rem;
    p{
        margin-bottom: 4.7rem;
    }
    figure{
        margin-bottom: 4.7rem;
        img{
            width: 100%;
            display: block;
        }
    }

    .tags-group{
        font-weight: 500;
        .tags-title{
            font-family: $tag-title-font;
            font-style: italic;
            
            line-height: 4.6rem;
        }
        .tag-item{
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            line-height: 2.4rem;
            letter-spacing: 10%;
            background-color: $tag-item-bg;
            padding: 0.7rem 2rem;
            margin-right: 1.2rem;
        }
    }
}